<table class="table table-hover table-bordered table-striped table-white">
  <thead>
    <tr>
      <th>JID</th>
      <th>Class</th>
      <th>Queue</th>
      <th>Status</th>
      <th>Enqueued at</th>
      <th>Run at</th>
      <th>Completed at</th>
      <th>Failed at</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody>
    <% jobs.each do |job| %>
      <tr>
        <% info = job.info %>
        <td>
          <a href="<%= job_url(job) %>">
            <%= job.jid %>
          </a>
        </td>
        <td><%= info['class'] %></td>
        <td><%= info['queue'] %></td>
        <td>
          <span class="label label-<%= bootstrap_status(job.status) %>">
            <%= job.status %>
          </span>
        </td>
        <td><%= job.enqueued_at %></td>
        <td><%= job.run_at %></td>
        <td><%= job.complete_at %></td>
        <td><%= job.failed_at %></td>
        <td><%= info.reject {|k,v| ['class', 'queue'].include?(k)} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
