<li class="job_node">
  <a href="<%= root_path %>hierarchy/jobs/<%= job.jid %>">
    <span title="<%= job.jid %>">
      <%= job.info['class'] %>
    </span>

    (<%= job.info['queue'] %>)

    <span class="label label-<%= bootstrap_status(job.status) %>">
      <%= status_in_words(job) %>
    </span>
  </a>

  <%- children = job.children %>
  <% if children.any? %>
    <ul>
      <% children.each do |child| %>
        <%= :_job_tree_node, locals: {job: child} %>
      <% end %>
    </ul>
  <% end %>
</li>
