<li>
  <a href="<%= root_path %>hierarchy/jobs/<%= job.jid %>">
    <span title="<%= job.jid %>">
      <%= job.info['class'] %>
    </span>
    (<%= job.info['queue'] %>)
    <span class="label label-<%= bootstrap_status(job.status) %>">
      <%= job.status %> <%= safe_relative_time(status_updated_at(job)) %>
    </span>
  </a>

  <%- children = job.children %>
  <% if children.any? %>
    <ul>
      <% children.each do |child| %>
        <%= erb :_workflow_tree_node, locals: {job: child} %>
      <% end %>
    </ul>
  <% end %>
</li>
