<a href="<%= workflow_url(@workflow) %>">
  <h3>Workflow <%= @workflow.jid %></h3>
</a>
<h4>Job <%= @job.jid %></h4>

<%= erb :_job_progress_bar, locals: {job: @job} %>

<%= erb :_job_table, locals: {jobs: [@job]} %>
<%= erb :_job_timings, locals: {job: @job} %>

<h4>Job Tree</h4>
<%= erb :_job_tree, locals: {root: @job} %>
