<h3>Sidekiq Hierarchy</h3>

<%= erb :_summary_bar %>
<%= erb :_search_bar %>

<div class="panel panel-info">
  <div class="panel-heading">
    <a href="<%= workflow_set_url(:running) %>">
      <h4 style="display:inline">Running Workflows</h4>
      (<%= @running_set.size %> total, displaying <%= @running.size %> newest)
    </a>
  </div>

  <div class="panel-body">
    <div class="table_container">
      <table class="table table-hover table-bordered table-striped table-white">
        <thead>
          <tr>
            <th>Workflow ID</th>
            <th>Enqueued at</th>
            <th>Run at</th>
          </tr>
        </thead>

        <tbody>
          <% @running.each do |workflow| %>
            <tr>
              <td>
                <a href="<%= workflow_url(workflow) %>">
                  <%= workflow.jid %>
                </a>
              </td>
              <td><%= relative_time(workflow.enqueued_at) %></td>
              <td><%= relative_time(workflow.run_at) if workflow.run_at %></td>
            </tr>
          <% end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <a href="<%= workflow_set_url(:complete) %>">
      <h4 style="display:inline">Complete Workflows</h4>
      (<%= @complete_set.size %> total, displaying <%= @complete.size %> newest)
    </a>
  </div>

  <div class="panel-body">
    <div class="table_container">
      <table class="table table-hover table-bordered table-striped table-white">
        <thead>
          <tr>
            <th>Workflow ID</th>
            <th>Enqueued at</th>
            <th>Run at</th>
            <th>Completed at</th>
          </tr>
        </thead>

        <tbody>
          <% @complete.each do |workflow| %>
            <tr>
              <td>
                <a href="<%= workflow_url(workflow) %>">
                  <%= workflow.jid %>
                </a>
              </td>
              <td><%= relative_time(workflow.enqueued_at) %></td>
              <td><%= relative_time(workflow.run_at) %></td>
              <td><%= relative_time(workflow.complete_at) %></td>
            </tr>
          <% end%>
        </tbody>
      </table>
    </div>

    <%= erb :_workflow_set_clear, locals: {status: :complete} %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    <a href="<%= workflow_set_url(:failed) %>">
      <h4 style="display:inline">Failed Workflows</h4>
      (<%= @failed_set.size %> total, displaying <%= @failed.size %> newest)
    </a>
  </div>

  <div class="panel-body">
    <div class="table_container">
      <table class="table table-hover table-bordered table-striped table-white">
        <thead>
          <tr>
            <th>Workflow ID</th>
            <th>Enqueued at</th>
            <th>Run at</th>
            <th>Failed at</th>
          </tr>
        </thead>

        <tbody>
          <% @failed.each do |workflow| %>
            <tr>
              <td>
                <a href="<%= workflow_url(workflow) %>">
                  <%= workflow.jid %>
                </a>
              </td>
              <td><%= relative_time(workflow.enqueued_at) %></td>
              <td><%= relative_time(workflow.run_at) %></td>
              <td><%= relative_time(workflow.failed_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= erb :_workflow_set_clear, locals: {status: :failed} %>
  </div>
</div>
